.delete-item-button {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    cursor: pointer;
    transition: background-color ease 0.2s;
    border: 1px solid black;
    font-size: 50px;
    border-radius: 100px;
    height: 45px;
    width: 45px;
    top: 10px;
    left: 20px;
}

.delete-item-button.cursor-enter {
    background-color: rgb(255, 210, 152);
}

.delete-item-button.cursor-leave {
    background-color: antiquewhite;
}