.exit-delete-section-mode-button {
    position: fixed;
    background-color: antiquewhite;
    cursor: pointer;
    transition: background-color ease 0.2s;
    border: 1px solid black;
    border-radius: 100px;
    height: 45px;
    width: 45px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.exit-delete-section-mode-button.cursor-enter {
    background-color: antiquewhite;
}

.exit-delete-section-mode-button.cursor-leavev {
    background-color: rgb(255, 210, 152);
}