.exit-delete-stack-mode-button {
    position: absolute;
    background-color: antiquewhite;
    cursor: pointer;
    transition: background-color ease 0.2s;
    border: 1px solid black;
    border-radius: 100px;
    height: 45px;
    width: 45px;
}

.exit-delete-stack-mode-button.cursor-enter {
    background-color: antiquewhite;
}

.exit-delete-stack-mode-button.cursor-leavev {
    background-color: rgb(255, 210, 152);
}