.to-do-task-container {
    display: flex;
    padding-top: 10px;
}

.bullet-point {
    position: relative;
    top: 13px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
}

.task-input {
    position: relative;
    left: 5px;
    width: 300px;
    background-color: transparent;
    resize: none;
    font-family: 'Comic Sans MS';
    font-size: 19px;
    height: 27px;
    outline: none;
    border: 1px solid black;
}