.to-do-task-container {
    display: flex;
    padding-top: 10px;
}

.bullet-point {
    position: relative;
    top: 13px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
}

.task-name {
    position: relative;
    left: 5px;
    width: 300px;
    height: 10px;
    background-color: transparent;
    resize: none;
    font-family: 'Comic Sans MS';
    font-size: 19px;
    height: 30px;
    outline: none;
}

.task-name.cursor-enter {
    border: 1px solid black;
}

.task-name.cursor-leave {
    border: transparent;
}

.to-do-task-container .select-to-delete {
        position: absolute;
        width: 327px;
        height: 30px;
        transition: background-color ease 0.3s,
                    opacity ease 0.3s,
                    box-shadow ease 0.3s;
    }

.to-do-task-container .select-to-delete.cursor-enter {
        background-color: rgb(254, 0, 0);
        opacity: 0.3;
        border: transparent;
    }

.to-do-task-container .select-to-delete.cursor-leave {
        background-color: transparent;
        opacity: 0;
    }
