.header-container {
    padding-top: 10px;
}

.header--input {
    position: relative;
    width: 315px;
    background-color: transparent;
    resize: none;
    font-family: 'Comic Sans MS';
    font-size: 30px;
    height: 41px;
    outline: none;
    border: 1px solid black;
    text-align: center;
}

.header--display {
    position: relative;
    background-color: transparent;
    font-family: 'Comic Sans MS';
    font-size: 30px;
    word-wrap: break-word;
    text-align: center;
}

.underline {
    position: relative;
    top: 3px;
    width: 320px;
    height: 5px;
    background-color: black;
}