.button-bar {
    display: flex;
    position: fixed;
    background-color: rgb(220, 247, 255);
    border: 2.5px solid black;
    width: 120px;
    height: 62px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    z-index: 2;
}