.add-item-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.add-item-container--task {
    padding-bottom: 20px;
}

.add-item-button {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color ease 0.2s;
}

.add-item-button--post-it-note {
    background-color: white;
    border: 1px solid black;
    font-size: 50px;
    border-radius: 14px;
    height: 55px;
    width: 55px;
    top: 10px;
    left: 10px;
}

.add-item-button--post-it-note__symbol {
    position: relative;
    cursor: pointer;
    top: -3px;
    left: 0.5px;
}

.add-item-button--post-it-note:hover {
    background-color: rgb(255, 210, 152);
}

.add-item-button--task {
    position: relative;
    top: 10px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: mediumaquamarine;
    border: 0.5px solid black;
}

.add-item-button--task:hover {
    background-color: mediumseagreen;
}