.to-do-list-container {
    position: relative;
    padding: 30px;
}

.to-do-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    background-color: lightpink;
    box-shadow: 0px 15px 10px lightgray;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
}

.to-do-list .select-to-delete {
    position: absolute;
    height: 350px;
    width: 350px;
    background-color: transparent;
}

.to-do-list .select-to-delete.cursor-enter {
    border: 3px solid red;
    box-shadow: 0px 0px 10px 2px red,
                0px 15px 10px lightgray;
    cursor: pointer;
}

.to-do-list .select-to-delete.cursor-leave {
    border: transparent;
}

.checkboxes-container {
    height: 350px;
    width: 320px;
}
