.done-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: green;
    cursor: pointer;
    transition: background-color ease 0.2s;
    border: 1px solid green;
    left: 95px;
    height: 30px;
    width: 150px;
    border-radius: 20px;
}

.done-button.cursor-enter {
    background-color: lightgreen;
}

.done-button.cursor-leave {
    background-color: white;
}

.done-editing-label {
    cursor: pointer;
    font-size: 15px;
}