.title-container {
    position: relative;
    padding: 30px;
}

.post-it-note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    background-color: lightpink;
    box-shadow: 0px 15px 10px lightgray;
}

.title {
    height: 35px;
    width: 330px;
    font-size: 30px;
    padding-bottom: 5px;
    text-align: center;
    outline: none;
    border: none;
    background-color: transparent;
    overflow: hidden;
    resize: none;
    font-family: 'Comic Sans MS';
}

.title::placeholder {
    color: black;
}

.text-height-limit {
    position: relative;
    top: 23px;
    left: -32px;
    height: 290px;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.block-from-selecting {
    position: absolute;
    height: 350px;
    width: 350px;
    background-color: transparent;
}

.select-to-enter-section {
    position: absolute;
    height: 350px;
    width: 350px;
    background-color: transparent;
    cursor: pointer;
}

.pin-image {
    position: relative;
    top: -155px;
    left: 137px;
    height: 65px;
    width: 65px;
    z-index: 1;
}